@font-face {
  font-family: 'BebasNeuer';
  src:
    local("BebasNeuer-Regular"),
    local("BebasNeuer Regular"),
    url(BebasNeue-Regular.ttf);
    font-display: swap;
}

body{
  font-family: BebasNeuer;
}