*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #161616;
  border-bottom: 3px solid rgba(228, 228, 228, 0.527);
  padding: 10px 15px;
}

section{
  text-align: center;
  margin-bottom: 25px;
}

.texto-serviços{
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
}

.texto-serviços .borda-superior{
  position: absolute;
  top: -17px;
  left: -15px;
  background-image: url('./imagens/borda-superior.svg');
  width: 45px;
  height: 45px;
}

.texto-serviços .borda-inferior{
  position: absolute;
  bottom: -17px;
  right: -15px;
  background-image: url('./imagens/borda-inferior.svg');
  width: 45px;
  height: 45px;
}

.titulo-seção{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.titulo-seção h1{
  padding: 0 10px;
  background-color: white;
  z-index: 9;
}

.titulo-seção h2{
  padding: 0 10px;
  background-color: white;
  z-index: 9;
}

.titulo-seção .linha{
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: black;
}

.conteiner-serviços{
  padding: 0 5px;
}

.conteiner-serviços .tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.conteiner-serviços .tags .tag{
  background-color: rgb(184, 184, 184);
  color: black;
  text-align: center;
  font-size: 0.9em;
  padding: 3px 6px;
  margin: 10px 11px;
  border-radius: 4px;
}

.conteiner-serviços .imagens{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.conteiner-serviços .imagens::-webkit-scrollbar{
  height: 12px;
}

.conteiner-serviços .imagens::-webkit-scrollbar-thumb{
  background-color: #080808;
  border-radius: 8px;
}

.conteiner-serviços .imagens::-webkit-scrollbar-thumb:hover{
  background-color: #131313e7;
}

.conteiner-serviços .imagens img{
  width: auto;
  max-width: 95%;
  height: 330px;
  margin: 5px 2px;
}

/* seção contato */

.conteiner-contato{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* corrigir */

.conteiner-contato  h2{
  font-size: 1.9em;
  color: red;
}

.conteiner-contato p{
  font-size: 1.7em;
  font-weight: bold;
}

.conteiner-contato #circulo-img{
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: 5px solid black;
  background-image: url('imagens/Jucelino11zon.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.conteiner-contato .numero-contato{
  padding: 20px 0;
}

.conteiner-contato .numero-contato div{
  display: inline-flex;
}

.atendimento h3{
  color: red;
}

.atendimento p{
  font-size: 1.3em;

}

footer{
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
}

footer .social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

footer .social img{
  cursor: pointer;
}

footer .social-ícone, footer .share-ícone{
  margin-top: 15px;
}